*{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666;
	font-size: 14px
}
/*右侧边栏*/
#rightbar {
  background-color: #202020;
  height: 100vh;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  color: #fff;

  }
  #rightbar li {
    padding: 4px 4px 0px 4px; 
}
    
 #rightbar ul li:hover{
   background: #c30
}
  #rightbar .rightbarblank {
    height: 15px; }
  #rightbar a {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    display: block;
    width: 22px;
    height: 80px;
    border-bottom: 1px solid #fff; }
    #rightbar a i {
      display: block;
      height: 20px;
    }
  #rightbar .active {
    background-color: #ef2f23; }
    #rightbar .active a {
      border-color: #ef2f23; }

#rightbar a .icon-1 {
  background-position: -271px -129px; }

#rightbar a .icon-2 {
  background-position: -271px -159px; }

#rightbar a .icon-3 {
  background-position: -271px -189px; }

#rightbar a .icon-4 {
  background-position: -271px -219px; }

#rightbar .loutinav li a {
  height: 38px; }


.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.hmtop{
padding: 0 20px;
}
.am-container{
    padding-left: 21px;
    padding-right: 40px;
    max-width:1200px;
    display: block; 
    height: 35px;
    line-height: 35px
}
.message-l{
	float: left;
}
.message-r{
	float: right;
}
.message-r>div{
	float: left;
}
.logoBig{
	float: left;
}
.nav{
	overflow: hidden;
	width: 100%;

}
.search-bar{
	margin: 30px 300px 0 0;
	float: right;
	border: 2px solid #c30;
	line-height: 40px;
	border-radius: 5px;
}
.search-bar input{
	width: 400px;
	border: none;
	outline: none;
}
.search-bar button{
	border: none;
	background-color: #c30;
	color: #fff;
	padding: 0 20px;
	outline: none;
}
footer{
	width: 100%
}
footer img{
	width: 100%
}